<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CategoryMapper">
    <update id="update">
        update category
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sort != null">
                sort = #{sort},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="updateUser != null">
                update_user = #{updateUser}
            </if>
        </set>
        where id =#{id}
    </update>


    <select id="pageQuery" resultType="com.sky.entity.Category">
        select *
        from category
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="name != null and name != ''">
                AND name like concat('%',#{name},'%'
            </if>
            <if test="sort != null and sort != ''">
                AND sort = #{sort}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
            <if test="createTime != null and createTime != ''">
                AND create_time = #{createTime}
            </if>
            <if test="updateTime != null and updateTime != ''">
                AND update_time = #{updateTime}
            </if>
            <if test="createUser != null and createUser != ''">
                AND create_user = #{createUser}
            </if>
            <if test="updateUser != null and updateUser != ''">
                AND update_user = #{updateUser}
            </if>
        </where>
        order by sort asc, create_time desc
    </select>
</mapper>
